{% block content %}
    {% for category in cats %}
        <h3><a href="{% url 'category' category.pk %}">{{category}}</a></h3>
    {% endfor %}
            {% for post in posts %}
                <h4><a href="{% url 'post' post.pk %}">{{ post.title }}</a></h4>
                    <p>{{ post.created }}</p>
                    <p>{{ post.body|linebreaks }}</p>
            {% endfor %}

        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">Previous &lt;&lt; </a>
                {% endif %}

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; Next</a>
                {% endif %}
        
        {% endif %}

    </div>

{% endblock %}