{% block content %}
	<h1>{{category}}<h1>
	{% if posts.count > 0 %}
		{% for post in posts %}
                <h3><a href="{% url 'post' post.pk %}">{{ post.title }}</a></h3>
                    <p>{{ post.created }}</p>
                    <p>{{ post.body|linebreaks }}</p>
            {% endfor %}
	{% else %}
		<h3>There is no post. Check back again later!</h3>
	{% endif %}


	{% for category in categories %}
		<li><a href="{% url 'category' category.pk %}">{{category}}</a></li>
	{% endfor %}

{% endblock %}