{% block content %}
    <h1>{{ post.title }}<h1>
    <h2>{{ post.pub_date }}</h2>
    <p>{{ post.body|linebreaks }}</p>

    {% if comments %}
        <h2>Comments:</h2>
    {% endif %}

    {% for comment in comments %}
            <p>{{ comment.created }} | {{ comment.author }}</p>
            <p>{{ comment.body|linebreaks }}</p>
    {% endfor %}

{% endblock %}